body {

  background-image: url('https://wallpaperaccess.com/full/2637581.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  margin: 0;
  font-family: 'Arial', sans-serif;
}





